<div class="container p-5 d-flex flex-column align-items-center justify-content-center">
  <h1 class="mb-3">Add new restaurant</h1>

  <div class="w-50">
    <%= render "form", restaurant: @restaurant %>
  </div>

  <br>

  <div>
    <button class="btn btn-primary"><%= link_to "Back to restaurants", restaurants_path, class:"text-light text-decoration-none" %></button>
  </div>
</div>
